.dropzone {
    width: 500px;
    height: 430px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 8px;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    background-color: #F8F8F8;
}

.text_drop{
    position: relative;
    top: 35%;
    text-align: center;
    color: #8A8484;
    font-size: 24px;
    line-height: 18px;
    align-items: center;

}
 
